*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --titulo-primario: #ffffff;
    --titulo-secundario: #C0E830;
    --titulo-terciario: #000000;
    --background-primario: #0397ED;
    --background-secundario: #C0E830;
    --background-terciario:#ffffff;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: var(--background-primario);
    height: 70px;
    width: 100vw;
    padding-right: 50px;

    & ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 40px;
    
        & a {
            display: flex;
            color:var(--titulo-primario);
            text-decoration: none;

            &:hover{
                color: var(--titulo-secundario);
            }
        }
        
    }
}