*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variaveis */

:root{
    --titulo-primario: #ffffff;
    --titulo-secundario: #C0E830;
    --titulo-terciario: #000000;
    --background-primario: #0397ED;
    --background-secundario: #C0E830;
    --background-terciario:#ffffff;
    
}
/* MENU DE NAVEGAÇÃO SUPERIOR */
nav{
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: var(--background-primario);
    height: 70px;
    width: 100%;
    padding-right: 50px;

    & ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 40px;
    
        & a {
            display: flex;
            color:var(--titulo-primario);
            text-decoration: none;

            &:hover{
                color: var(--titulo-secundario);
            }
        }
        
    }
}

/* MAIN E BANNER PRINCIPAL ESTILO SMARTFIT, POREM TEREI QUE REFAZER A IMAGEM*/

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    

    & img{
        width: 100%;
        border-radius: 2rem;
        
    }
}